[submodule "docs/themes/ananke"]
	path = docs/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "docs/themes/docsy"]
	path = docs/themes/docsy
	url = https://github.com/google/docsy.git
